.list-navbar li{
  color: white;
  font-size: 24px;
  display: inline;
  padding: 10px;
  margin-right: 5px;
}

.list-navbar{
  padding-left:10px;
}

.set-color{
  background-color: #6A0C90;
}

h1,label{
color: #6A0C90;
}

body{
  /*background-color: #191919;*/
  background:url(/images/earth2.jpg) left top repeat-x #000;
  background-repeat: no-repeat;
  background-size: auto;

}

/*test*/
 
 .aa{
  width: 100%;
  height: 0%;
  background-color: rgba(25,25,25,0.85);
  margin: 0 40px;
  margin-top: 0 40px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 250px;

  -webkit-border-color: 15px;
  -moz-border-color: 15px;
  -ms-border-color: 15px;
  -o-border-color: 15px;
  border-color: 15px;
  color:white;
  font-weight: bolder;
  -webkit-box-shadow: inset -4px -4px rgba(0,0,0,0.5);
  box-shadow: inset -4px -4px rgba(0,0,0,0.5);
  font-size: 14px;
 }